.loginContainer {
  margin: 0 auto;
  width: 800px;
}

.title {
  margin: 20px 0;
}

.login {
  display: flex;
  flex-direction: column;
}

.login label {
  margin-bottom: 12px;
  margin-top: 32px;
}

.input {
  padding: 16px 12px;
  outline: none;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 8px;
  /* margin-bottom: 20px; */
}

.input:focus {
  border: 1px solid black;
}

.login button {
  margin-top: 20px;
  padding: 16px 0;
  outline: none;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: #032541;
  cursor: pointer;
}

.login button:hover {
  filter: brightness(1.2);
}
