.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #032541;
}

.nav {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-left: 250px;
  margin-right: 25px;
}

.nav a {
  color: white;
  font-weight: bold;
}

.username {
  margin-left: 1rem;
  color: white;
}
