body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("background.svg");
    background-repeat: no-repeat;
    background-size : cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box {
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 242, 255, 0.5);
    border-radius: 15px;
    text-align: center;
}

.login_input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

p {
    font-size: 48px;
    font-weight: 600;
    width: 400px;
    border: solid;
    border-color:#ffffffc5;
    border-left:0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1;
    border-bottom-width: 1px;
}

input {
	font-size: 18px;
    background-color: transparent;
    margin-bottom: 20px;
    border-left:0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1;
    border-color:#ffffffc5; 
}

input::placeholder{
    color:#ffffffc5;
}

span {
    margin-right: 10px;
}

button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(29, 29, 29);
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;   
}