
body{
  background-color: rgba(14, 3, 36, 0.8);
}
.app{
  display: flex;
  flex-wrap: wrap;
  
}

.movieContainer{
  
  background-color:rgba(34, 9, 87, 1);
  color:white;
  width:180px;
  height: 330px;
  margin:3px;
  
}
.movieContainer img{
  max-width:100%;
  max-height:80%;

}
.movieContainer span{
  margin: 10px;
  font-size: 10px;

}
.Info{
  display:flex;
  justify-content: space-between;
}

.app2{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top:1%;
  left: 0.5%;
}

.addContent{
  box-sizing:border-box;
  opacity:0;
  background-color:black;
  color:white;
  font-size: 13px;
  width:180px;
  height: 330px;
  margin:3px;
  padding:10px;
  z-index:999;
  max-height: calc(100% - 120px);
  overflow: auto;
}
.addContent:hover{
  opacity:0.8;
  
}
