body {
    width: 100vw;
    height: 100vh;
}

.app-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    /* background-color: rgb(28, 28, 110); */
    padding: 20px 40px 20px 40px;
}

.contentcard{
    width: 200px;
    height: 400px;
    background-color:rgb(49, 63, 141);
    margin: 10px;
    border-radius: 5px;
    z-index: 1;
}


.poster_img img{
    border-radius: 5px 5px 0px 0px;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-weight: 200px;
    margin: 10px;
    margin-top: 20px;
    font-family: "Raleway", sans-serif;
}

.text_title {
    font-size: 15px;
}

.text_rating {
    font-size: 15px;
}

.contentDetail{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentDetail_container{
    display: flex;
    flex-direction: row;
}

.contentDetail_title {
    margin-left: 40px;
    font-size: 28px;
}

.notfound {
    width: 100vh;
    height: 100vh;
    padding-left: 10%;
    padding-top: 3%;
}

.font_red {
    color: rgb(223, 15, 15);
}