.header {
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing:border-box;
    padding-left: 350px;
    background-color: #032541;
    text-decoration-line: none;
    color: white;
}

.header_link {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.white_font {
    color: white;
    margin: 10px;
    font-size: 15px;
}