*{
    box-sizing: border-box;
}
body{
    background-image: url("background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items:center;
    margin:0;
}
.signupbox{
    width: 50%;
    height: 90%;
    background-color: rgba(212, 210, 210, 0.785);
    color: black;
    border-radius: 10px;
    padding: 2rem 10rem;
    
}
.box{
    text-align:center;
    height: 60%;
}
.middle{
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    margin: 3px;
    background-color: rgba(0,0,0,0);
    border: solid 1px white;
}

#button{
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgba(138, 133, 133, 0.858);
    color: white;
    cursor: pointer;
}
.box>div{
    height: 90px;
}
span{
    font-size: 12px;
    display:block;
    text-align:left;

    position:relative;
    left: 85px;
}
/*모달창*/
#modalback{
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
}
#modal{
    width: 300px;
    height: 140px;
    background: white;
    color: black;
    padding: 2rem 2rem;
    margin: 0;
    border-radius: 1rem;

}
#modal>button{
    float:right;
    border-radius:5px;
    border-color: rgb(223, 219, 219);
    color:black;
    background-color:white;
}
