body {
    width: 100vw;
    height: 100vh;
}

/*grid를 사용해 컴포넌트 구조화*/
.app-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(28, 28, 110);
    padding: 20px 40px 20px 40px;
}

.movie_pair {
    display: flex;
    flex-direction: row;
}

.moviecard{
    width: 200px;
    height: 400px;
    background-color:rgb(49, 63, 141);
    margin: 10px;
    border-radius: 5px;
}

/*hover 투명도 조절*/
.movieinfo:hover {
    opacity: 80%;
}

/*두 컴포넌트 겹치게 설정*/
.movie_pair_movie {
    position: relative;
}

.movie_pair_info {
    position: absolute;
}

.poster_img{
    z-index: 1;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-weight: 200px;
    margin: 10px;
    margin-top: 20px;
    font-family: "Raleway", sans-serif;
}

.text_title {
    font-size: 15px;
}

.text_rating {
    font-size: 15px;
}

.movieinfo {
    position: absolute;
    top: 0px;
    left: 0px;  
    opacity: 0%;
    width: 200px;
    height: 400px;
    background-color:rgba(0, 0, 0);
    margin: 10px;
    border-radius: 5px;
    color: white;
}

.info {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 20px;
    font-family: "Raleway", sans-serif;
    height: 100%;
}

.info_title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info_overview {
    font-size: 14px;
    /*height는 auto 기준(요소크기) 정하기 위한 높이*/
    max-height: 250px;
    /*text가 요소 넘어가면 scroll하게끔*/
    overflow-y: auto;
    z-index: 5;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}